.article-styles h1 {
    font-size: 48px;
    font-style: italic;
    margin-bottom: 16px;
}
.article-styles h2 {
    font-size: 32px;
    margin-bottom: 10px;
}
.article-styles p,
.article-styles li {
    font-size: 18px;
}
.article-styles p {
    margin-bottom: 8px;
}
.article-styles li {
    margin-bottom: 4px;
}